# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE
.idea/
.vscode/
.history/

/bin
vendor

# store data
lvldbdata
e2e/testdb

# prikey file
/*.priv

# swagger doc
fee-oracle-1.0.0-swagger.yaml

# playground.go
playground.go

# e2e tests
scripts/e2e_test/

# generated log files
*.log
