# Copyright 2021 ChainSafe Systems
# SPDX-License-Identifier: LGPL-3.0-only

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

name: CI Checks
jobs:
  ci-checks:
    strategy:
      matrix:
        go-version: [ 1.17.x ]
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        run: make install

      - name: Unit tests
        run: make test

      - name: Gosec Security Scanner
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go get github.com/securego/gosec/cmd/gosec
          make check

      - name: Lint check
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --skip-dirs e2e,.github -v --timeout 300s

      - name: License check
        run: make license-check

      - name: E2E test
        run: make e2e-test
