# Copyright 2021 ChainSafe Systems
# SPDX-License-Identifier: LGPL-3.0-only

name: Build and publish Docker image

on:
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Prepare
        id: prep
        run: |
          # creates local variable of docker image
          DOCKER_IMAGE=chainsafe/sygma-fee-oracle
          
          # creates local variable of commit hash that triggered workflow
          COMMIT_HASH=$(echo $GITHUB_SHA | head -c7)
          
          # creates local variable to hold docker images
          TAGS="${DOCKER_IMAGE}:${COMMIT_HASH},${DOCKER_IMAGE}:latest"
          
          # check if branch/tag that triggered workflow was from tags
          if [[ $GITHUB_REF == refs/tags/* ]]; then
          
          # set version
          VERSION=${GITHUB_REF#refs/tags/}
          
          # append version to tags
          TAGS="${TAGS},${DOCKER_IMAGE}:${VERSION}"
          fi
          
          # sets output of step
          echo ::set-output name=tags::${TAGS}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.prep.outputs.tags }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
